@model MoviePass.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li> <h2>Genre: @Model.Genre</h2></li>
    <li> <h2>Release Date: @Model.ReleaseDate.Value.ToString("dddd, MMMM dd, yyyy")</h2></li>
    <li><h2>Added Date: @Model.DateAdded.Value.ToString("dddd, MMMM dd, yyyy")</h2></li>
    <li>  <h2>Number in Stock: @Model.NumberInStock</h2></li>
   
</ul>